:root {
  --color-background-body: #333;
  --color-particle-fill: #ababab;
  --color-ring-stroke: #fff;
}

.theme-brad {
  --color-background-body: #f6f5de;
  --color-particle-fill: #be6701;
  --color-ring-stroke: #110000;
}

body {
  background-color: var(--color-background-body);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease-in-out;
}

.atom {
  width: 200vw;
  height: 200vh;
}

.nucleus {
   fill: var(--color-particle-fill);
   stroke: var(--color-particle-fill);
   transition: all 0.5s ease-in-out;
   animation: nucleus-pulse 2s infinite ease-in-out alternate;
}

.electron {
   fill: var(--color-particle-fill);
   stroke: var(--color-particle-fill);
   transition: all 0.5s ease-in-out;
   animation: rotate 10s infinite linear, electron-pulse 1s infinite ease-in-out alternate;
}

.ring {
   stroke: var(--color-ring-stroke);
  animation: ring-width 1s infinite ease-in-out alternate;
}

@for $i from 1 through 20 {
 .ring:nth-of-type(#{$i}) {
    animation-delay: 0.1s * $i
  }
}

@keyframes ring-width {
  0%   { 
    stroke-width: 15; 
  }
  100% { 
    stroke-width: 2; 
  }
}

@keyframes nucleus-pulse {
  0%   { 
    stroke-width: 0;
  }
  100% { 
    stroke-width: 12;
  }
}

@keyframes electron-pulse {
  0%   { 
    stroke-width: 6;
  }
  100% { 
    stroke-width: 3;
  }
}

@keyframes rotate {
  0%   { 
    transform: rotate(0);
  }
  100% { 
    transform: rotate(360deg);
  }
}

.theme-switch-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: #808080;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  text-transform: lowercase;
  cursor: pointer;
  
  &:focus {
    outline: 4px solid #fff;
  }
}